{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>OpenDayLight Release Dashboard</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'main/dist/css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/dist/css/skins/skin-blue.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/plugins/iCheck/flat/blue.css' %}">
  <link rel="stylesheet" href="{% static 'main/plugins/morris/morris.css' %}">
  <link rel="stylesheet" href="{% static 'main/plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <a href="https://www.opendaylight.org" class="logo">
      <span class="logo-mini"><b>ODL</b></span>
      <span class="logo-lg"><b>OpenDayLight</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Project</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/main"><i class="fa fa-circle-o"></i> List</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>Performance Tests</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Boron Plugin <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
              {% for component in components %}
                <li><a href="/main/performance/boron/{{component.componentName }}/"><i class="fa fa-circle-o"></i>{{ component.componentName }}</a></li>
              {% endfor %}
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Beryllium Plugin <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
              {% for component in components %}
                <li><a href="/main/performance/beryllium/{{component.componentName }}/"><i class="fa fa-circle-o"></i>{{ component.componentName }}</a></li>
              {% endfor %}
              </ul>
            </li>
          </ul>
        </li>  
        <li>
          <a href="/main/comparison"><span>Comparison</span></a>
        </li>
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Dashboard
        <small>Release</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/main/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Projects</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
       <div class="col-md-12">
        <div class="box box-solid box-primary">
         <div class="box-header">
          <h1 class="box-title">Project List</h1>
         </div>
         <div class="box-body">
          {% if projectList %}
          <ol>
            {% for project in projectList %}
              <h4><li><a href="/main/project/{{ project.id }}/">{{ project.name }}</a></li></h4>
            {% endfor %}
          </ol>
          {% else %}
            <p>No projects available.</p>
          {% endif %}
         </div>
        </div>
       </div>
      </div>
    </section>
  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.1
    </div>
    <strong>Copyright &copy; 2016 <a href="http://www.opendaylight.org">OpenDayLight</a>.</strong> All rights
    reserved.
  </footer>
</div>
<script src="{% static 'main/plugins/jQuery/jQuery-2.2.0.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="{% static 'main/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'main/plugins/fastclick/fastclick.js' %}"></script>
<script src="{% static 'main/dist/js/app.min.js' %}"></script>
<script src="{% static 'main/dist/js/pages/dashboard.js' %}"></script>
<script src="{% static 'main/dist/js/demo.js' %}"></script>
</body>
</html>
