{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>OpenDayLight Release Dashboard</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/bootstrap/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/bootstrap/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/dist/css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/dist/css/skins/skin-blue.min.css' %}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <header class="main-header">
      <a href="https://www.opendaylight.org" class="logo">
        <span class="logo-mini"><b>ODL</b></span>
        <span class="logo-lg"><b>OpenDayLight</b></span>
      </a>
      <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <ul class="sidebar-menu">
          <li class="header">MAIN NAVIGATION</li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-dashboard"></i> <span>Project</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li ><a href="/main/"><i class="fa fa-circle-o"></i> List</a></li>
            </ul>
          </li>
          <li class="treeview active">
          <a href="#">
            <i class="fa fa-share"></i> <span>Boron Release</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          {% for component in components %}
          <ul class="treeview-menu">
            <li>
              <a href="/main/performance/{{component.componentName}}"><i class="fa fa-circle-o"></i>{{ component.componentName }}</a>
            </li>
          </ul>
          {% endfor %}
          </li>
        <li>
          <li>
            <a href="/main/comparison"><span>Comparison</span></a>
          </li>
        </ul>
      </section>
    </aside>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          {{ name }} Performance Results
          <small>Release</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="/main/"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a href="#">Performance Tests</a></li>
        </ol>
      </section>
      <section class="content">
        <h2>  Boron Release </h2>  
        <div class="row">
            {% for graph in performance %}
            <div class="col-md-6">
              <div class="box box-success">
                <div class="box-header">
                  <h3 class="box-title">{{ graph.jobName }}</h3>
                </div>
                <div class="box-body">
                  <p><strong> Jenkins Job :- </strong> {{graph.jenkinsJobName}}</p> 
                  <img src="{{ graph.jenkinsUrl}}" class="img-responsive" alt="Responsive image">      
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </section>  
    </div>
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 0.0.1
      </div>
      <strong>Copyright &copy; 2016 <a href="http://www.opendaylight.org">OpenDayLight</a>.</strong> All rights
      reserved.
    </footer>
  </div>
  <script src="{% static 'main/plugins/jQuery/jQuery-2.2.0.min.js' %}"></script>
  <script src="{% static 'main/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'main/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'main/plugins/fastclick/fastclick.js' %}"></script>
  <script src="{% static 'main/dist/js/app.min.js' %}"></script>
  <script src="{% static 'main/dist/js/demo.js' %}"></script>
</body>
</html>
