{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>OpenDayLight Release Dashboard</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'main/plugins/datatables/dataTables.bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'main/dist/css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/dist/css/skins/skin-blue.min.css' %}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <a href="https://www.opendaylight.org" class="logo">
      <span class="logo-mini"><b>ODL</b></span>
      <span class="logo-lg"><b>OpenDayLight</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Project</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/main"><i class="fa fa-circle-o"></i> List</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Performance Tests</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
          {% for component in components %}
            <li><a href="/main/performance/{{component.componentName }}/"><i class="fa fa-circle-o"></i>{{ component.componentName }}</a></li>
          {% endfor %}
          </ul>
        </li>
      </section>
  </aside>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Dashboard
        <small>Release</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/main/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/main/">Project</a></li>
        <li><a href="/main/project/{{project.id}}/">{{project.name}}</a></li>
      </ol>
    </section>
    <section class="content">
      {% if bugs != None %}
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">{{ project.name }} Bugs</h3>
            </div>
            <div class="box-body">
              <table id="table1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Attribute</th>
                  <th>Count</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Unconfirmed</td>
                  <td>{{bugs.unconfirmed}}</td>
                </tr>
                <tr>
                  <td>Confirmed</td>
                  <td>{{bugs.confirmed}}</td>
                </tr>
                <tr>
                  <td>inProgress</td>
                  <td>{{bugs.inProgress}}</td>
                </tr>
                <tr>
                  <td>waitingForReview</td>
                  <td>{{bugs.waitingForReview}}</td>
                </tr>
                <tr>
                  <td>blocker</td>
                  <td>{{bugs.blocker}}</td>
                </tr>
                <tr>
                  <td>critical</td>
                  <td>{{bugs.critical}}</td>
                </tr>
                <tr>
                  <td>major</td>
                  <td>{{bugs.major}}</td>
                </tr>
                <tr>
                  <td>normal</td>
                  <td>{{bugs.normal}}</td>
                </tr>
                <tr>
                  <td>minor</td>
                  <td>{{bugs.minor}}</td>
                </tr>
                <tr>
                  <td>trivial</td>
                  <td>{{bugs.trivial}}</td>
                </tr>
                <tr>
                  <td>enhancement</td>
                  <td>{{bugs.enhancement}}</td>
                </tr>
                <tr>
                  <td>highest</td>
                  <td>{{bugs.highest}}</td>
                </tr>
                <tr>
                  <td>high</td>
                  <td>{{bugs.high}}</td>
                </tr>
                <tr>
                  <td>normal</td>
                  <td>{{bugs.normal}}</td>
                </tr>
                <tr>
                  <td>low</td>
                  <td>{{bugs.low}}</td>
                </tr>
                <tr>
                  <td>lowest</td>
                  <td>{{bugs.lowest}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Attribute</th>
                  <th>Count</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if test != None %}
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">{{ project.name }} Tests</h3>
            </div>
            <div class="box-body">
              <table id="table2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Attribute</th>
                  <th>Count</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Unit Test Coverage</td>
                  <td>{{test.coverage}}</td>
                </tr>
                <tr>
                  <td>Success Density</td>
                  <td>{{test.successDensity}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Attribute</th>
                  <th>Count</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if commit != None %}
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">{{ project.name }} Commits</h3>
            </div>
            <div class="box-body">
              <table id="table3" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Attribute</th>
                  <th>Count</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Total Commits</td>
                  <td>{{commit.totalCount}}</td>
                </tr>
                <tr>
                  <td>LastWeek Commits</td>
                  <td>{{commit.lastWeekCount}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Attribute</th>
                  <th>Count</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if contributors != None %}
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">{{ project.name }} Contributors</h3>
            </div>
            <div class="box-body">
              <table id="table4" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Contributor Name</th>
                  <th>Contributor Count</th>
                </tr>
                </thead>
                <tbody>
                {% for contributor in contributors %}
                <tr>
                  <td>{{contributor.contributorName}}</td>
                  <td>{{contributor.contributionCount}}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>Contributor Name</th>
                  <th>Contributor Count</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </section>
  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.1
    </div>
    <strong>Copyright &copy; 2016 <a href="http://www.opendaylight.org">OpenDayLight</a>.</strong> All rights
    reserved.
  </footer>
</div>
<script src="{% static 'main/plugins/jQuery/jQuery-2.2.0.min.js' %}"></script>
<script src="{% static 'main/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'main/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'main/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'main/plugins/fastclick/fastclick.js' %}"></script>
<script src="{% static 'main/dist/js/app.min.js' %}"></script>
<script src="{% static 'main/dist/js/demo.js' %}"></script>
</body>
<script>
  $(function () {
    $("#table1").DataTable();
    $("#table2").DataTable();
    $("#table3").DataTable();
    $("#table4").DataTable();
  });
</script>
</html>
